@import "src/assets/scss/variables";

.footer {
  color: white;
  background-color: $blue-dark;
  display: grid;
  grid-gap: 3rem;
  padding: 3rem;
}
//
//.footer__logo {
//  color: white;
//  background-image: url("src/assets/images/logo.svg");
//  background-repeat: no-repeat;
//  background-size: contain;
//  width: 100%;
//  height: 3rem;
//}

.footer__logo > * {
  fill: white;
}

.footer__list {
  list-style: none;
}
