<section class="footer">
  <span class="footer__logo"></span>
  <ul class="footer_list">
    <li class="footer__list-item">Phone: +1-543-123-4567</li>
    <li class="footer__list-item">example@fylo.com</li>
  </ul>
  <ul class="footer_list">
    <li class="footer__list-item">About Us</li>
    <li class="footer__list-item">Jobs</li>
    <li class="footer__list-item">Press</li>
    <li class="footer__list-item">Blog</li>
  </ul>
  <ul class="footer_list">
    <li class="footer__list-item">Contact Us</li>
    <li class="footer__list-item">Terms</li>
    <li class="footer__list-item">Privacy</li>
  </ul>
  <ul class="footer__social-list">
    <li class="footer__social-list-item"></li>
    <li class="footer__social-list-item"></li>
    <li class="footer__social-list-item"></li>
  </ul>
</section>
