<section class="footer">
  <img [src]="['assets/images/logo.svg']" class="footer__logo" alt="logo">
  <ul class="footer__list">
    <li class="footer__list-item">
      <img [src]="['assets/images/icon-phone.svg']" alt="phone">
      <span>Phone: +1-543-123-4567</span>
    </li>
    <li class="footer__list-item">
      <img [src]="['assets/images/icon-email.svg']" alt="email">
      <span>example@fylo.com</span>
    </li>
  </ul>
  <ul class="footer__list">
    <li class="footer__list-item">About Us</li>
    <li class="footer__list-item">Jobs</li>
    <li class="footer__list-item">Press</li>
    <li class="footer__list-item">Blog</li>
  </ul>
  <ul class="footer__list">
    <li class="footer__list-item">Contact Us</li>
    <li class="footer__list-item">Terms</li>
    <li class="footer__list-item">Privacy</li>
  </ul>
</section>
