<section class="secondary">
  <img class="secondary__bg-image" [src]="['assets/images/illustration-2.svg']" alt="illustration 2">
  <h1 class="secondary__heading">Stay productive, wherever you are</h1>
  <p class="secondary__body">
    Never let location be an issue when accessing your files. Fylo has you covered for all of your file storage needs.
  </p>
  <p class="secondary__body">
    Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required!
  </p>
  <a href="" class="secondary__link">
    <div class="secondary__link-wrapper">
      <span class="secondary__link-text">See how Fylo works</span>
      <span class="secondary__link-image"></span>
    </div>
  </a>
  <div class="secondary__testimonial">
    <p class="testimonial__body">
      Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.
    </p>
    <div class="testimonial__user">
      <span class="user__image"></span>
      <p class="user__name">Kyle Burton</p>
      <p class="user__title">Founder & CEO, Huddle</p>
    </div>
  </div>
</section>
