<section class="tertiary">
  <h3 class="tertiary__heading">Get early access today</h3>
  <p class="tertiary__body">
    It only takes a minute to sign up and our free starter tier is extremely
    generous. If you have any questions, our support team would be happy to
    help you.
  </p>
  <form class="tertiary__form">
    <input
      type="text"
      class="tertiary__input"
      placeholder="email@example.com"
    >
    <button class="tertiary__button">Get Started For Free</button>
  </form>
</section>
