<section class="primary">
  <div class="primary__bg-image"></div>
  <h1 class="primary__heading">
    All your files in one secure location, accessible anywhere.
  </h1>
  <p class="primary__body">
    Fylo stores your most important files in one secure location. Access them wherever you need, share and collaborate with friends, family, and co-workers.
  </p>
  <form action="" class="primary__form"><input
    type="text"
    class="primary__input"
  >
    <button class="primary__button">Get Started</button>
  </form>
</section>
