<section class="primary">
  <img
    [src]="['assets/images/illustration-1.svg']"
    alt="illustration 1"
    class="primary__bg-image"
  >
  <div class="primary__body">
    <h1 class="primary__heading">
      All your files in one secure location, accessible anywhere.
    </h1>
    <p class="primary__text">
      Fylo stores your most important files in one secure location. Access them wherever you need, share and collaborate with friends, family, and co-workers.
    </p>
    <form action="" class="primary__form"><input
      type="text"
      class="primary__input"
      placeholder="Enter your email"
    >
      <button class="primary__button">Get Started</button>
    </form>
  </div>
</section>
